@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

main {
  display: flex;
  flex-direction: column;
  height: auto; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

/*---------------------------- HEADER ------------------------- */
/* Quitamos los estilos del toggler icon de Boostrap */
.navbar-toggler:focus {
  box-shadow: none; }

/* Animacion underline para anchors del navbar */
.nav-link {
  position: relative;
  text-decoration: none;
  /* Evita que el underline se vea del ancho de la pantalla en el menu hamb desplegado */
  display: inline-block; }
  .nav-link::before, .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: #0EAE93;
    transition: width 0.4s ease-out; }
  .nav-link:hover::before {
    width: 100%;
    transition: width 0.4s ease-out; }
  .nav-link:hover::after {
    width: 0;
    transition: width 0.4s ease-out; }
  .nav-link:hover::before {
    left: 0; }
  .nav-link:hover::after {
    right: 0; }

/* Animacion logo navbar */
.logo {
  transition: transform 0.6s ease-in-out; }
  .logo:hover {
    transform: scale(1.0625); }
  .logo:hover ~ .logo {
    transform: scale(1);
    transition: transform 0.5s ease-in-out; }

/* -------------------- MAIN -------------------------- */
/* Animacion circulos */
.circle1 {
  animation: float 2.5s ease-in-out infinite;
  fill: #1B2DCC;
  filter: none; }
  .circle1:hover {
    fill: #0EAE93;
    filter: blur(2px);
    transition: 0.85s; }

.circle2 {
  animation: float2 4s ease-in-out infinite;
  fill: #1B2DCC;
  filter: none;
  /* animation-duration: 5s; */ }
  .circle2:hover {
    fill: #1B2DCC;
    filter: blur(2px);
    transition: 0.65s; }

.circle3 {
  animation: float3 3s ease-in-out infinite;
  fill: #1B2DCC;
  filter: none; }
  .circle3:hover {
    fill: #D33226;
    filter: blur(2px);
    transition: 0.85s; }

/* Animaciones independientes para cada circulo de valor */
@keyframes float {
  0% {
    transform: translateY(0);
    transform: translate3d(12px, 4px, -10px) scale(1); }
  25% {
    transform: translateY(-13px);
    transform: translate3d(6px, -25px, -5px) scale(1.125); }
  50% {
    transform: translateY(-10px);
    transform: translate3d(-7px, -2px, -3px) scale(1.25); }
  100% {
    transform: translateY(0);
    transform: translate3d(12px, 4px, -10px) scale(1); } }

@keyframes float2 {
  0% {
    transform: translateY(0);
    transform: translate3d(8px, 10px, -10px) scale(1); }
  25% {
    transform: translateY(-10px);
    transform: translate3d(30px, 13px, -3px) scale(0.85); }
  50% {
    transform: translateY(-13px);
    transform: translate3d(-5px, -25px, -5px) scale(1.125); }
  100% {
    transform: translateY(0);
    transform: translate3d(8px, 10px, -10px) scale(1); } }

@keyframes float3 {
  0% {
    transform: translateY(0);
    transform: translate3d(12px, 4px, -10px) scale(1); }
  25% {
    transform: translateY(-10px);
    transform: translate3d(-7px, -2px, -3px) scale(1.25); }
  50% {
    transform: translateY(-13px);
    transform: translate3d(-9px, -23px, 7px) scale(1.125); }
  100% {
    transform: translateY(0);
    transform: translate3d(12px, 4px, -10px) scale(1); } }

/* SECCION1 INDEX */
/* estructura animacion*/
.container_seccion1_index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffff;
  padding: 4em 2em 20em 2em;
  height: 100vh; }
  .container_seccion1_index h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 12em;
    font-size: 2.5em;
    color: #1e1e1e;
    font-weight: 300;
    padding: 1em 1em 1em 1em; }
  .container_seccion1_index .container_animacion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1em;
    max-width: 50em;
    max-height: 100%; }

/* SECCION2 INDEX */
.container_seccion2_index {
  background-color: #1B2DCC;
  color: #ffff;
  min-height: 110vh;
  width: 100%;
  display: flex; }
  .container_seccion2_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem 4rem 4rem; }

.container_cabecera_section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0rem 0rem 4rem 0rem;
  max-width: 1280px;
  /* Ajuste de la numeracion de la seccion: 01. 02. */ }
  .container_cabecera_section2 h2 {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 5em;
    font-weight: 800;
    margin-right: 1rem; }
  .container_cabecera_section2 .container_carrusel {
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }

.contenedor_textos_seccion2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-top: 1rem; }
  .contenedor_textos_seccion2 h3 {
    font-weight: 600; }
  .contenedor_textos_seccion2 p {
    padding-top: 0.5em;
    margin: 0;
    font-weight: 300; }
    .contenedor_textos_seccion2 p:first-of-type {
      font-weight: 400;
      font-size: 22px; }

/* SECION3 INDEX */
.container_seccion3_index {
  min-height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .container_seccion3_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem; }
    .container_seccion3_index article img {
      min-width: 200px;
      max-width: 500px; }
    .container_seccion3_index article .contenedor_texto_seccion3 {
      margin: 0;
      text-align: justify;
      font-weight: 300;
      padding: 3rem;
      max-width: 1800px; }
      .container_seccion3_index article .contenedor_texto_seccion3 p:first-of-type {
        font-size: x-large;
        font-weight: 500;
        padding-bottom: 1rem;
        text-align: justify; }
      .container_seccion3_index article .contenedor_texto_seccion3 i {
        padding-bottom: 2rem; }
      .container_seccion3_index article .contenedor_texto_seccion3 h3 {
        margin-bottom: 0;
        font-weight: 600; }
      .container_seccion3_index article .contenedor_texto_seccion3 hr {
        padding-bottom: 1rem; }

/* SECCION4 INDEX */
.container_seccion4_index {
  background-color: #0EAE93;
  color: #ffff;
  min-height: 110vh;
  width: 100%;
  display: flex; }
  .container_seccion4_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem 4rem 4rem; }

.container_cabecera_section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0rem 0rem 4rem 0rem;
  max-width: 1280px;
  /* Ajuste de la numeracion de la seccion: 01. 02. */ }
  .container_cabecera_section4 h2 {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 5em;
    font-weight: 800;
    margin-right: 1rem; }
  .container_cabecera_section4 .container_carrusel {
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; }

.contenedor_textos_seccion4 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-top: 1rem; }
  .contenedor_textos_seccion4 h3 {
    font-weight: 600; }
  .contenedor_textos_seccion4 p {
    padding-top: 0.5em;
    margin: 0;
    font-weight: 300; }
    .contenedor_textos_seccion4 p:first-of-type {
      font-weight: 400;
      font-size: 22px; }

/* SECCION5 INDEX */
.container_seccion5_index {
  background-color: #ffff;
  min-height: 100vh;
  padding: 6rem 3rem 3rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; }
  .container_seccion5_index h3 {
    margin-bottom: 3rem;
    text-align: left;
    font-weight: 600; }
  .container_seccion5_index .encabezado_multimedia i {
    font-size: 40px;
    color: #1B2DCC;
    padding-bottom: 1.4rem; }
  .container_seccion5_index .multimedia_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 0 3rem 0; }
    .container_seccion5_index .multimedia_index iframe {
      padding: 15px;
      margin: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 350px;
      border: 1px solid #cccccc;
      min-width: 150px; }

/* ------Media Querys Tablet L 768px----------- */
@media (max-width: 768px) {
  .container_seccion2_index article {
    padding: 4rem 3rem 3rem 3rem; }
  .container_seccion3_index {
    min-height: 150vh; }
    .container_seccion3_index article {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem; }
      .container_seccion3_index article img {
        width: 100%;
        padding: 2rem 0 2rem 0; }
      .container_seccion3_index article .contenedor_texto_seccion3 {
        margin: 0;
        width: 100%;
        max-width: 768px;
        text-align: justify;
        padding: 0; }
        .container_seccion3_index article .contenedor_texto_seccion3 i {
          font-size: 30px; }
  .container_seccion4_index article {
    padding: 4rem 3rem 3rem 3rem; }
  .container_seccion5_index {
    padding: 6rem 3rem 3rem 3rem; } }

/* Media Querys Mobile L 425px */
@media (max-width: 425px) {
  /* Modifica el area de texto */
  .container_seccion1_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    padding: 0.125em;
    font-size: 2em;
    width: 100vw;
    height: 100vh; }
    .container_seccion1_index h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1em 1.25em 0.5em 1.25em;
      margin-bottom: 0;
      font-size: 1em;
      width: 100%;
      height: 8em; }
    .container_seccion1_index .container_animacion {
      margin: 0;
      width: 100%;
      height: 2%;
      padding: 0em;
      display: flex;
      align-items: center;
      margin: 1em; }
      .container_seccion1_index .container_animacion svg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 40%; }
  @keyframes float2 {
    0% {
      transform: translateY(0);
      transform: translate3d(8px, 10px, -10px) scale(1); }
    25% {
      transform: translateY(-10px);
      transform: translate3d(20px, 13px, -3px) scale(0.85); }
    50% {
      transform: translateY(-13px);
      transform: translate3d(-5px, -25px, -5px) scale(1.125); }
    100% {
      transform: translateY(0);
      transform: translate3d(8px, 10px, -10px) scale(1); } }
  .container_seccion2_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem; }
  .container_cabecera_section2 {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 2rem 0rem; }
  .contenedor_textos_seccion2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify; }
  .container_seccion4_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem; }
  .container_cabecera_section4 {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 2rem 0rem; }
  .contenedor_textos_seccion4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify; }
  /* -------------------------------- */
  .container_seccion3_index article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    display: flex; }
    .container_seccion3_index article img {
      width: 90%; }
    .container_seccion3_index article .contenedor_texto_seccion3 {
      margin: 0;
      max-width: 768px;
      text-align: justify;
      padding: 2rem 0 0 0; }
  .container_seccion5_index {
    display: flex;
    flex-direction: column;
    padding: 2rem; } }

/* Media Querys Mobile M 375px */
@media (max-width: 375px) {
  .container_seccion1_index .container_animacion {
    height: 10rem;
    margin: 0; }
    .container_seccion1_index .container_animacion svg {
      height: 75%;
      width: 33%; } }

/*---------------------------- FOOTER ------------------------- */
.footer {
  background-color: #1B2DCC;
  width: 100%;
  margin-top: auto;
  padding: 2.5em 2em 0em 2em;
  padding-bottom: 1em;
  display: flex;
  justify-content: start;
  align-items: center; }
  .footer__contenedor {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem; }
  .footer__contenedor-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em 1em 1em 0em;
    margin: 1em 1em 1em 0em; }
  .footer__img {
    width: 4em;
    /* Efectos logo footer  */ }
    .footer__img:hover {
      transform: rotate(360deg);
      transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555); }
  .footer .footer__iconos {
    display: flex;
    flex-direction: column;
    padding-right: 0em;
    align-items: center;
    justify-content: center;
    padding-right: 0.75rem;
    color: #ffff; }
  .footer__imgiconos {
    fill: #ffff;
    width: 35px;
    padding-right: 0.75rem; }
  .footer__redes, .footer__list {
    padding: 1em 1em 0em 0em; }
  .footer__legal {
    padding: 1rem 1rem 0rem 0.7rem; }
  .footer__list-item, .footer__redes-item, .footer__legal-item {
    list-style: none;
    display: flex; }
    .footer__list-item:hover i, .footer__list-item:hover svg, .footer__list-item:hover a, .footer__redes-item:hover i, .footer__redes-item:hover svg, .footer__redes-item:hover a, .footer__legal-item:hover i, .footer__legal-item:hover svg, .footer__legal-item:hover a {
      color: #0EAE93;
      transition: width 1s ease; }
    .footer__list-item:hover i, .footer__list-item:hover svg, .footer__redes-item:hover i, .footer__redes-item:hover svg, .footer__legal-item:hover i, .footer__legal-item:hover svg {
      color: #0EAE93;
      fill: #0EAE93; }
  .footer__list-link, .footer__redes-link, .footer__legal-link {
    text-decoration: none;
    color: #ffff;
    font-weight: 100;
    font-size: 18px;
    /* Efectos li footer  */ }
    .footer__list-link--copyright, .footer__redes-link--copyright, .footer__legal-link--copyright {
      text-decoration: none;
      color: #ffff;
      font-size: 18px; }

/* Media Querys Tablet 768px */
@media (max-width: 768px) {
  .footer {
    padding: 2rem 2rem; }
    .footer__contenedor-logo {
      width: 100%;
      margin-bottom: 0; }
    .footer__list {
      padding: 0px 22px 0 14px; }
    .footer__redes {
      padding-top: 0;
      padding-left: 14px; }
    .footer__legal {
      padding-top: 0; } }

.container_seccion_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0em 5em 0em;
  height: 100%;
  background-color: #ffff; }
  .container_seccion_contacto .form_contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 45em;
    padding: 5em 3em 5em 4em;
    background-color: #e2ebf1;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
    width: 100vw;
    border: 0.5px solid #e0e0e0; }
    .container_seccion_contacto .form_contact .form_group {
      margin-bottom: 20px;
      width: 100%;
      padding: 1rem; }
      .container_seccion_contacto .form_contact .form_group label {
        font-weight: 600;
        display: block;
        margin-bottom: 5px; }
      .container_seccion_contacto .form_contact .form_group #opcion {
        font-weight: 300;
        display: block;
        margin-bottom: 5px;
        padding-top: 0.5rem;
        padding-left: 0.5rem; }
      .container_seccion_contacto .form_contact .form_group .genero {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-end; }
      .container_seccion_contacto .form_contact .form_group input[type="text"],
      .container_seccion_contacto .form_contact .form_group input[type="email"],
      .container_seccion_contacto .form_contact .form_group input[type="tel"],
      .container_seccion_contacto .form_contact .form_group select,
      .container_seccion_contacto .form_contact .form_group textarea {
        display: block;
        width: 70%;
        min-height: 45px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
        margin: 0; }
      .container_seccion_contacto .form_contact .form_group input[type="text"]:focus,
      .container_seccion_contacto .form_contact .form_group input[type="email"]:focus,
      .container_seccion_contacto .form_contact .form_group input[type="tel"]:focus,
      .container_seccion_contacto .form_contact .form_group select:focus,
      .container_seccion_contacto .form_contact .form_group textarea:focus {
        outline: none;
        border-color: #0EAE93;
        margin: 0; }
    .container_seccion_contacto .form_contact .main__wrapper--botones-contacto {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .container_seccion_contacto .form_contact button[type="submit"] {
      display: inline-block;
      padding: 10px 20px;
      background-color: #1B2DCC;
      color: #ffff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      border: 1px solid #1B2DCC;
      margin-right: 1rem; }
      .container_seccion_contacto .form_contact button[type="submit"]:hover {
        background-color: #0EAE93;
        border: 1px solid #0EAE93;
        scale: 1.03125; }
    .container_seccion_contacto .form_contact button[type="reset"] {
      display: inline-block;
      padding: 10px 20px;
      background-color: #e2ebf1;
      color: #1e1e1e;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      border-radius: 0;
      border: 1px solid #1e1e1e; }
      .container_seccion_contacto .form_contact button[type="reset"]:hover {
        border: 1px solid #D33226;
        background-color: #D33226;
        color: #ffff;
        font-weight: 500;
        scale: 1.03125; }

#tienda {
  margin: 4em 2em 4em 2em; }

#tienda h2 {
  margin: 4em 2em 4em 2em; }

@media (max-width: 768px) {
  .container_seccion_contacto .form_contact {
    padding: 3rem; }
    .container_seccion_contacto .form_contact .form_group input[type="text"],
    .container_seccion_contacto .form_contact .form_group input[type="email"],
    .container_seccion_contacto .form_contact .form_group input[type="tel"],
    .container_seccion_contacto .form_contact .form_group select,
    .container_seccion_contacto .form_contact .form_group textarea {
      min-height: 35px;
      width: 100%;
      padding: 10px; } }

@media (max-width: 425px) {
  .container_seccion_contacto .form_contact {
    padding: 2rem; }
    .container_seccion_contacto .form_contact .main__wrapper--botones-contacto {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem; } }

.main__contenedor--servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem; }
  .main__contenedor--servicios .main__subcontenedor--servicios {
    margin: 0; }
    .main__contenedor--servicios .main__subcontenedor--servicios #titulo_servicios {
      background-color: #1B2DCC;
      color: #ffff;
      border-radius: 4px;
      font-size: larger;
      font-weight: 600;
      padding: 0.5em 0em 0.5em 0em; }
    .main__contenedor--servicios .main__subcontenedor--servicios p {
      text-align: justify;
      font-weight: 300; }
      .main__contenedor--servicios .main__subcontenedor--servicios p:first-of-type {
        font-size: larger;
        font-weight: 500; }
    .main__contenedor--servicios .main__subcontenedor--servicios span {
      font-weight: 600;
      padding: 0.25em 0.25em 0.25em 0em; }
    .main__contenedor--servicios .main__subcontenedor--servicios li {
      padding: 0.5em; }
    .main__contenedor--servicios .main__subcontenedor--servicios h3 {
      background-color: #0059fd;
      color: #ffff;
      border-radius: 1px;
      font-size: medium;
      font-weight: 400;
      padding: 0.5em 0em 0.5em 0em;
      text-align: center; }
      .main__contenedor--servicios .main__subcontenedor--servicios h3:hover {
        scale: 1.125;
        transition: 0.4s cubic-bezier(0.85, 0.1, 0.615, 0.555);
        font-weight: 600; }
    .main__contenedor--servicios .main__subcontenedor--servicios .card-body {
      background-color: #e2ebf1;
      text-align: center;
      padding: 2rem; }
      .main__contenedor--servicios .main__subcontenedor--servicios .card-body .main__wrapper--servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        text-align: left; }
        .main__contenedor--servicios .main__subcontenedor--servicios .card-body .main__wrapper--servicios i {
          color: #D33226; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .main__wrapper--servicios i:hover {
            transform: rotate(360deg);
            transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555); }
      .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group {
        align-self: center;
        padding-top: 3rem; }
        .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group button {
          padding: 0.5rem;
          font-size: 14px;
          font-weight: 600;
          background-color: #1B2DCC;
          color: #ffff;
          border-radius: 4px;
          border: none; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group button:hover {
            background-color: #D33226;
            transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555); }
        .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul {
          background-color: rgba(231, 233, 248, 0.842);
          border: 1px solid #dbdbdb;
          box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.4);
          padding: 0.70rem;
          z-index: 5; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul p {
            margin-bottom: 5px;
            padding: 0 1rem 0 0rem;
            font-size: medium;
            font-weight: 600; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul hr {
            margin: 0 0 0.25rem 0; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul li {
            display: inline-block;
            width: fit-content;
            padding: 0.25rem 0.3rem; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul a {
            list-style: none;
            text-decoration: none;
            font-size: small;
            font-weight: 500; }
          .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul .main__wrapper--iconos {
            color: #1B2DCC; }
            .main__contenedor--servicios .main__subcontenedor--servicios .card-body .btn-group ul .main__wrapper--iconos i:hover {
              color: #0059fd;
              transform: translateY(-4px);
              transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555); }
  .main__contenedor--servicios .text-center {
    font-size: 28px;
    padding-bottom: 1rem; }

/* ------Media Querys Tablet 768px----------- */
@media (max-width: 768px) {
  .main__contenedor--servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; }
  .main__header {
    padding-right: 1rem; } }

/* ------Media Querys Mobile S 320px----------- */
@media (max-width: 768px) {
  .main__contenedor--servicios {
    padding: 0.5rem; }
    .main__contenedor--servicios .main__subcontenedor--servicios .card-body {
      padding: 0.5rem; } }

.main__header {
  background-image: linear-gradient(to right, #1B2DCC, #0059fd);
  min-height: 10rem;
  color: white;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 3rem;
  font-size: 27px; }

.container_tienda {
  padding: 2em; }
  .container_tienda .card {
    overflow: hidden; }
    .container_tienda .card .card-img-top:hover {
      scale: 1.03125;
      transition: scale 0.3s ease-in-out; }
    .container_tienda .card h5 {
      font-weight: 600;
      font-size: 24px; }
    .container_tienda .card .card-body a {
      background-color: #1B2DCC;
      border: none; }
      .container_tienda .card .card-body a:hover {
        background-color: #0EAE93;
        scale: 1.03125;
        transition: background-color, scale 0.3s ease-in-out; }
    .container_tienda .card .card-body {
      background-color: #e2ebf1; }
  .container_tienda .contenedor_boton {
    padding: 4rem 0rem;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .container_tienda .contenedor_boton h5 {
      padding-bottom: 2rem 0 1rem 0;
      margin-bottom: 1rem; }
    .container_tienda .contenedor_boton .btn {
      background-color: #1B2DCC;
      color: #ffff;
      border-radius: 4px; }
    .container_tienda .contenedor_boton .menu-desplegable {
      background-color: rgba(22, 56, 248, 0.192);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
      backdrop-filter: blur(5px);
      overflow: hidden;
      bottom: 1; }
    .container_tienda .contenedor_boton a {
      color: #1e1e1e;
      font-weight: 500; }
      .container_tienda .contenedor_boton a:hover {
        scale: 1.0625;
        background-color: rgba(50, 255, 159, 0.034);
        backdrop-filter: blur(7px); }

/* Media Querys Mobile M 375px */
@media (max-width: 375px) {
  #tienda {
    margin: 0; } }

.main__blog {
  padding: 2em; }
  .main__blog h3 {
    padding-bottom: 0.5rem;
    margin: 0; }
  .main__blog h6 {
    font-weight: 300;
    padding: 0 0 4rem 0.125rem; }
  .main__blog .card-title {
    font-size: 16px; }
  .main__blog .card-body {
    background-color: #e2ebf1;
    font-size: medium; }
    .main__blog .card-body a {
      background-color: #0EAE93;
      border-radius: 4px;
      border: none;
      font-size: small; }
  .main__blog .page-link {
    background-color: #0059fd;
    border-radius: 4px;
    color: #ffff; }
    .main__blog .page-link:hover {
      scale: 1.0625;
      border-radius: 0; }
  .main__blog .card-img-top:hover {
    scale: 1.03125;
    transition: scale 0.3s ease-in-out; }
  .main__blog h5 {
    font-weight: 600;
    font-size: 24px; }
  .main__blog .card-body a {
    background-color: #1B2DCC;
    border: none; }
    .main__blog .card-body a:hover {
      background-color: #0EAE93;
      scale: 1.03125;
      transition: background-color, scale 0.3s ease-in-out; }
