.blog {
    padding: 2em;
    
    .card-title {
        font-size: 16px;
    }
    
    .card-body {
        background-color: $blanco-variante2;
        font-size: medium;
        
        & a {
            background-color: $verdek;
            border-radius: 4px;
            border: none;
            font-size: small;
        }
    }

    .page-link{
        background-color: $azulk_variante;
        border-radius: 4px;
        color: $blanco_puro;

        &:hover{
            scale: 1.0625;
            border-radius: 0;
        }
    }

    @include cards;
}
