.container_blog {
    padding: 2em;
}

.card-body a{
    background-color: $verdek;
    border-radius: 4px;
    border: none;
    font-size: small;
}

.blog .card-body{
background-color:$blanco-variante2;
font-size: medium;
}

.blog .card-title{
    font-size: 16px;
}

//Pendinete ajustar color + hover de botones y otros a considerar//