.main__contenedor--servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .main__subcontenedor--servicios {
        margin: 0;

        #titulo_servicios {
            //uso de ID para superar cascada de BS//
            @include h2_secciones($azulk, $blanco_puro);
        }

        & p {
            text-align: justify;
            font-weight: 300;

            &:first-of-type{
                font-size: larger;
                font-weight: 500;

            }

        }

        & span {
            font-weight: 600;
            padding: 0.25em 0.25em 0.25em 0em;
        }

        & li {
            padding: 0.5em;
        }

        & h3 {
            @include h3_servicios($azulk_variante, $blanco_puro );

            &:hover {
                scale: 1.125;
                transition: 0.4s cubic-bezier(0.850, 0.1, 0.615, 0.555);
                font-weight: 600;
            }
        }

        .card-body {
            background-color: $blanco-variante2;
            text-align: center;
            padding: 2rem;

            .main__wrapper--servicios {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: baseline;
                text-align: left;

                & i {
                    color: $rojok;

                    &:hover {
                        transform: rotate(360deg);
                        transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555);
                    }
                }
            }

            .btn-group {
                align-self: center;
                padding-top: 3rem;

                & button {
                    padding: 0.5rem;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $azulk;
                    color: $blanco_puro;
                    border-radius: 4px;
                    border: none;


                    &:hover {
                        background-color: $rojok;
                        transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555);
                    }


                }

                & ul {
                    background-color: rgba(231, 233, 248, 0.842);
                    border: 1px solid #dbdbdb;
                    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.4);
                    padding: 0.70rem;
                    z-index: 5;


                    & p {
                        margin-bottom: 5px;
                        padding: 0 1rem 0 0rem;
                        font-size: medium;
                        font-weight: 600;
                    }

                    & hr {
                        margin: 0 0 0.25rem 0;
                    }

                    & li {
                        display: inline-block;
                        width: fit-content;
                        padding: 0.25rem 0.3rem;

                    }

                    & a {
                        list-style: none;
                        text-decoration: none;
                        font-size: small;
                        font-weight: 500;
                    }

                    .main__wrapper--iconos {
                        color: $azulk;

                        & i:hover {
                            color: $azulk_variante;
                            transform: translateY(-4px);
                            transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555);
                        }
                    }
                }
            }
        }
    }

    .text-center {
        font-size: 28px;
        padding-bottom: 1rem;
    }


}



/* ------Media Querys Tablet 768px----------- */

@media (max-width:768px) {

    .main__contenedor--servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .main__header {
        padding-right: 1rem;
    }

}

/* ------Media Querys Mobile S 320px----------- */

@media (max-width:768px) {
    .main__contenedor--servicios {
        padding: 0.5rem;

        .main__subcontenedor--servicios {

            .card-body {
                padding: 0.5rem;
            }
        }
    }
}