$verdek: #0EAE93;
$azulk: #1B2DCC;
$rojok: #D33226;
$negrok: #1e1e1e;
$negro_puro: #000000;
$azulk_variante: #0059fd;
$blanco_puro: #ffff;
$blanco-variante: #ced9df;
$blanco-variante2: #d9e3e9;
$blanco_cards:#eaf1f5 ;
$box_border1: #cccccc;
